<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] &middot; Cửa Hàng Mua Sắm Trực Tuyến - UdaStore</title>
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/css/jquery.lazyloadxt.spinner.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" asp-append-version="true" href="~/assets/css/responsive.css" />

</head>
<body class="@ViewData["home"]">
    <!-- TOP BANNER -->
    <!--<div id="top-banner" class="top-banner">
        <div class="bg-overlay"></div>
        <div class="container">
            <h1>Special Offer!</h1>
            <h2>Additional 40% OFF For Men & Women Clothings</h2>
            <span>This offer is for online only 7PM to middnight ends in 30th July 2015</span>
            <span class="btn-close"></span>
        </div>
    </div>-->
    @Html.Partial("_TopHeader")
    @await Component.InvokeAsync("CategoryMenu")
    <!---->
    @RenderBody()

    @Html.Partial("_Footer")
    <a href="#" class="scroll_top" title="Chạy lên trang đầu" style="display: inline;">Scroll</a>
    <!-- Script-->
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/js/jquery.lazyloadxt.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/select2/js/select2.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/owl.carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/js/jquery.actual.min.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/assets/js/theme-script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>